<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ruta-anterior"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <img src="../../assets/login.png" alt="Login">
  <ion-card class="card" >
    <ion-card-content>
      <div class="background-image"></div>
      <div class="overlay-image"></div>
    </ion-card-content>
  </ion-card>
<!-- correo and password-->

  <ion-list>
    <ion-input label="Email" label-placement="floating"   placeholder="juanito@duoc.cl"type="email" ></ion-input>
    <ion-input label="Password" name="password"label-placement="floating" type="{{ passwordVisible ? 'text' : 'password' }}"></ion-input>
  </ion-list>

<div class="anima-button">
  <ion-button (click)="play()">iniciar la animacion</ion-button>
</div>
<!--sign up--> 
  <div class="centered-button">
    <ion-button routerLink="/signup" type="submit"  shape="signup">
      Sign up
    </ion-button>
    
  </div>
  <div class="forgot-button">
<!--recuperacion de contraseña-->
    <ion-button routerLink="/forgot-password" expand="full">¿Olvidaste tu contraseña?</ion-button>
  </div>
</ion-content>

<!--angular material-->
<article>
  <mat-slide-toggle>Recordar</mat-slide-toggle>
</article>



<!--<form (ngSubmit)="enviarInformacion()">
  <ion-item>
    <ion-label position="floating">usuario</ion-label>
    <ion-input type="email" [(ngModel)]="user.usuario" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password" required></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="enviarInformacion()" >Iniciar Sesión</ion-button>
</form>-->