<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ruta-anterior"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <img src="../../assets/login.png" alt="Login">
  <ion-card #card>
  </ion-card>
</ion-content>
<div class="background-image"></div>
<div class="overlay-image"></div>
<ion-list>
  <ion-input label="Email" label-placement="floating"   placeholder="juanito@duoc.cl" ></ion-input>
  <ion-input label="Password" label-placement="floating" type="{{ passwordVisible ? 'text' : 'password' }}"[(ngModel)]="password"name="password"></ion-input>
</ion-list>

<div class="centered-button">
  <ion-button routerLink="/signup" shape="signup">
    Sign up
  </ion-button>
  <ion-button (click)="play()">Play</ion-button>
</div>
<ion-button routerLink="/forgot-password" expand="full">¿Olvidaste tu contraseña?</ion-button>




