#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  img{
    position: absolute;
    min-height: 100vh;
    background: no-repeat center center fixed;
    background-size: cover;
  }
.background-image{
    background-image: url('https://depor.com/resizer/25quKBxP8Ti7cjCcmnR887FHER0=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/DAYT2F5NUNB7VPAFKUPHNDXVQA.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh; 
  }
  .overlay-image {
    background-image: url('https://depor.com/resizer/25quKBxP8Ti7cjCcmnR887FHER0=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/DAYT2F5NUNB7VPAFKUPHNDXVQA.jpg');
    background-size: contain; 
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px; 
    height: 200px; 
    position: absolute;
    top: 29%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
  }
  .texto-animado {
    right: 25%;
    top: 50%;
    position: absolute;
    font-size: 24px; /* Tamaño de fuente inicial */
    color: blue;   /* Color inicial */
    animation: animacionTexto 2s infinite alternate; /* Nombre de la animación, duración, repetición y dirección */
  }
  
  @keyframes animacionTexto {
    0% {
      font-size: 24px; /* Tamaño de fuente inicial */
      color: blue;    /* Color inicial */
    }
    100% {
      font-size: 32px; /* Tamaño de fuente final */
      color: rgb(15, 1, 1);      /* Color final */
    }
  }
  