<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recupera tu contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ruta-anterior"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="../../assets/login.png" alt="Login">
  <div class="background-image"></div>
  <div class="overlay-image"></div>
  <ion-list>
    <ion-input label="Email" label-placement="floating"   placeholder="juanito@duoc.cl"[(ngModel)]="email"></ion-input>
  </ion-list>
  <div class="centered-button">
    <ion-button expand="full" (click)="resetPassword()">Enviar</ion-button>
  </div>
  
</ion-content>
