#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

img{
  position: absolute;
  min-height: 100vh;
  background: no-repeat center center fixed;
  background-size: cover;
}
.centered-button {
  display: flex;  
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  color: #d90ea9; 
  border-color: #17d8c8;
}